.vscode/**
.vscode-test/**
src/**
docs/**
.gitignore
.parcel-cache
node_modules
dist/sql-wasm.[0-9a-f]*.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test
*.code-workspace
*.psd
*.vsix
*.proofread.log
__pycache__/**
**/__pycache__/**
*.pyc
*.py
